h1, h2 {
    text-align: center;
}

#contenido {
    margin-top: 40px;
}
.borrar-tweet,
.borrar-tweet:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.error, .success {
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 400px;
    margin: 0 auto;
    color: white;
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.5s ease-in-out; /* Transición suave para opacidad */
}

.error {
    background-color: red;
    animation: fadeInOut 4s ease-in-out forwards; /* 3.5s para incluir el tiempo de visibilidad y la transición */
}

.success {
    background-color: green;
    animation: fadeInOut 4s ease-in-out forwards; /* 3.5s para incluir el tiempo de visibilidad y la transición */
}

@keyframes fadeInOut {
    0% {
        opacity: 0; /* Comienza invisible */
    }
    10% {
        opacity: 1; /* Se hace visible */
    }
    90% {
        opacity: 1; /* Permanece visible */
    }
    100% {
        opacity: 0; /* Se hace invisible */
    }
}
